<link rel="stylesheet" href="{{ 'essentials_home.css' | asset_url }}">
<div class="essentials-strip-container essentials-strip">
  <img
    src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/Group_450.png?v=1770068573"
    class="essentials-strip-bg-top-image"
  >
  <img
    src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/Rectangle_471.jpg?v=1770065901"
    class="essentials-strip-bg-image"
  >
  <div class="page-width">
    <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
    <p class="section-subheading">{{ section.settings.section_subheading }}</p>
    <div class="essentials-strip-relative">
      <!-- wrapper for carousel on mobile -->
      <div class="essentials-strip-wrapper" id="essentialsStripScroller">
        {% for block in section.blocks %}
          <div class="essentials-strip-item">
            <img src="{{block.settings.block_image | image_url }}">
            <p>{{ block.settings.block_heading_1 }}</p>
            <p>{{ block.settings.block_heading_2 }}</p>
            <p>{{ block.settings.block_subheading }}</p>
            <a href="{{ block.settings.block_url }}" class="essentials-strip-cta">
              {{ block.settings.block_cta }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- dots track (only used on mobile carousel) -->
    <div class="essentials-dots">
      <div class="essentials-dots-track" id="essentialsDots"></div>
    </div>

    <a href="{{ section.settings.cta_link }}" class="essentials-strip-bottom-cta">
      {{ section.settings.cta }}
    </a>
  </div>
  <div class="essentials-overflow-hidden">
    {% if section.settings.image_left %}
      <img
        class="section_flower_left"
        src="{{section.settings.image_left | img_url: 'master' }}"
      >
    {% endif %}
    {% if section.settings.image_right %}
      <img
        class="section_flower_right"
        src="{{section.settings.image_right | img_url: 'master' }}"
      >
    {% endif %}
    <!-- bottom decoration -->
    <div class="essentials-strip-bg-bottom-image">
      <img
        class="essentials-strip-bottom-strip"
        src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/Group_455.png?v=1769756289"
      >
      <img
        class="collection-strip-bottom-rotating"
        src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/Group_459_1.png?v=1769766247"
      >
      <img
        class="collection-strip-bottom-flower"
        src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/dfsf_13.png?v=1769756309"
      >
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Essentials Home",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Section Subheading"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA"
    },
    {
      "type": "url",
      "label": "CTA Link",
      "id": "cta_link"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Floating Image Left"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Floating Image Right"
    }
  ],
  "blocks": [
    {
      "type": "essential_collection",
      "name": "Essential Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Block Image"
        },
        {
          "type": "text",
          "id": "block_heading_1",
          "label": "Block Heading 1"
        },
        {
          "type": "text",
          "id": "block_heading_2",
          "label": "Block Heading 2"
        },
        {
          "type": "text",
          "id": "block_subheading",
          "label": "Block Subheading"
        },
        {
          "type": "text",
          "id": "block_cta",
          "label": "Block CTA"
        },
        {
          "type": "collection",
          "id": "block_url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Essentials Home"
    }
  ]
}
{% endschema %}
