<link rel="stylesheet" href="{{ 'purpose_home.css' | asset_url }}">
<div class="purpose-strip-container">
  <div class="page-width">
    <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
    <p class="section-subheading">{{ section.settings.section_subheading }}</p>
    <div class="purpose-strip-relative">
      <img
        class="purpose-strip-relative-flower__left"
        src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/dfsf_16.png?v=1770096885"
      >
      <img
        class="purpose-strip-relative-flower__right"
        src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/dfsf_17.png?v=1770096884"
      >
      {% for block in section.blocks %}
        <div class="purpose-strip-item">
          <img src="{{ block.settings.block_image | img_url:'master' }}">
          <div class="purpose-strip-item-text-container">
            <p class="purpose-strip-item-text__heading1">{{ block.settings.block_heading_1 }}</p>
            <p class="purpose-strip-item-text__heading1">{{ block.settings.block_heading_2 }}</p>
            <p class="purpose-strip-item-text__heading1">{{ block.settings.block_subheading }}</p>
            <a href="{{ block.settings.block_url | url }}" class="purpose-strip-item-text__cta">
              {{- block.settings.block_cta -}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="purpose-overflow-hidden">
    <img
      class="section_flower_left"
      src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/section_flower_left.png?v=1769766374"
    >
    <img
      class="section_flower_right"
      src="https://cdn.shopify.com/s/files/1/0752/2510/4562/files/section_flower_right.png?v=1769766386"
    >
  </div>
</div>
{% schema %}
{
  "name": "Purpose Home",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "section_subheading",
      "label": "Section Subheading"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Floating Image Left"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Floating Image Right"
    }
  ],
  "blocks": [
    {
      "type": "essential_collection",
      "name": "Essential Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Block Image"
        },
        {
          "type": "text",
          "id": "block_heading_1",
          "label": "Block Heading 1"
        },
        {
          "type": "text",
          "id": "block_heading_2",
          "label": "Block Heading 2"
        },
        {
          "type": "text",
          "id": "block_subheading",
          "label": "Block Subheading"
        },
        {
          "type": "text",
          "id": "block_cta",
          "label": "Block CTA"
        },
        {
          "type": "collection",
          "id": "block_url",
          "label": "URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Purpose Home"
    }
  ]
}
{% endschema %}
